{% extends 'base.html' %}


{% block content %}
    <content>
        <div class="card mb-3" style="width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/pikachu.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8" style="max-width: 540px;">
                    <div class="card-body">
                        <br>
                        <br>
                        <h5 class="card-title">Name of the pokemon</h5>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Abilities</td>
                                <td>...; ...
                                </td>
                            </tr>
                            <tr>
                                <td>Number in PD</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Evolves from</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Evolves to</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Height</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Weight</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Colour</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Base exprience</td>
                                <td>...</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table table-bordered" style="max-width: 540px">
                <thead>
                <tr>
                    <th scope="col" colspan="2" style="text-align: center;">Base charachsteristics</th>
                </tr>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Number</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">HP</th>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">ATTACK</th>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">DEFEND</th>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">SPECIAL ATTACK</th>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">SPECIAL DEFEND</th>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">SPEED</th>
                    <td>...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </content>
{% endblock %}<!--основная часть-->
